<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yofer's Home</title>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <style>
        @font-face {
            font-family: 华文隶书;
            src: url("/resources/fonts/华文隶书.ttf") format('truetype');
        }
        #foot{
            font-size: medium;
            text-align: center;
            color: slategray;
        }
        #title{
            font-size: xx-large;
            font-weight: bolder;
            font-family: 华文隶书;
            text-align: center;
            color: cornflowerblue;
        }
    </style>
</head>

<header>
    <p id="title">Yofer's Home</p>
</header>

<body background="resources/backgound.png">

<table border="1" width="100%">
    <tr>
        <td rowspan="1" width="10%" height="100%">
            <iframe align="left" height="800" src="./Home_Sidebar" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no">
            </iframe>
        </td>
        <td rowspan="1"  width="90%" >
            <iframe width="100%" align="center" height="800" src="./Home_Body" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" >
            </iframe>
        </td>
    </tr>
</table>

<!--    <table>-->
<!--        <tr>-->
<!--            <td width="10%">-->
<!--                <audio controls>-->
<!--                    <source src="https://music.163.com/song/media/outer/url?id=1465162316.mp3">-->
<!--                </audio>-->
<!--            </td>-->
<!--            <td width="90%">-->
<!--                123-->
<!--                <img src="resources/backgound.png">-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

</body>

<footer>
    <p id="foot">©2021 Yofer个人主页 粤A2-00000000号 粤公网安备  000000000000号</p>
</footer>
</html>