<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yofer's Home</title>
<!--    <script type="text/javascript" src="./public/js/jquery-3.6.0.js"></script>-->

</head>
<body background="resources/backgound.png">

<iframe width="100%" align="left" height="1200" src="mHome_Sidebar.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes">
</iframe>

<iframe width="100%" align="center" height="800" src="Home_Body.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes" >
</iframe>

<!--<table border="1" width="100%">-->
<!--    <tr>-->
<!--        <td width="100%">-->
<!--            <iframe align="left" height="800" src="./Home_Sidebar.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes">-->
<!--            </iframe>-->
<!--        </td>-->

<!--    </tr>-->
<!--    <tr>-->
<!--        <td  width="100%" >-->
<!--            <iframe align="right" height="800" src="./Home_Body.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes" >-->
<!--            </iframe>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

</body>
</html>